/*
  body {
    width: 100%;
    height: 100%;
  }

  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    -webkit-overflow-scrolling: touch;
    display: none;
    background-color: #444;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    width:100%;
    background-color:#444;
    color: #fff;
    padding: 10px;
}


  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }
.toggle-button {
  color: black;
  float: left;

}

.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}*/
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #1F2C40;
    color: #444;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/


/*for header*/
#titletext {
  text-align: center;
  color: #FFB6C1;
  margin-top: 0px;
  /*to keep the text aligned*/
  padding-left: 135px;
}
.toggle-button {
  color: black;
  float: left;
  position:absolute;
  top:0.3cm;
  left:0.05cm;
}
/*For Map*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  bottom:0px;
  top:75px;
  height: 90%;
  left: 2px;
  position: absolute;
  right: 0px;
  overflow:hidden;
}

/* Tablet Landscape */
/*@media screen and (max-width: 1060px) {
    #map { width:67%; }
    #mySidenav { width:30%; margin-left:3%;}
}*/
/* Tabled Portrait */
/*@media screen and (max-width: 768px) {
    #map { width:100%; }
    #mySidenav { width:100%; margin:0; border:none; }
}*/

/* Smartphones (portrait) */
/*@media only screen and (max-width: 480px) {
  #map { font-size: 2px;width:100%; height:85%;}
  #mySidenav { font-size: 1vw;}
  #inputSection {font-size: 4.6vw;}
  #titletext {font-size: 5vw;}*/
}
/*FOR IPHONE 6*/
/*@media only screen and (max-width: 360px) {
  #map { font-size: 2px;width:100%; height:90%;}
  #mySidenav { font-size: 1vw;}
  #inputSection {font-size: 4.6vw;}
  #titletext {font-size: 5vw;}
}*/

/*FOR MOTO G5 PLUS*/
@media only screen and (max-width: 600px) {
  #map { font-size: 2px;width:100%; height:90%;}
  #mySidenav { font-size: 1vw;}
  #inputSection {font-size: 2.8vw;}
  #titletext {font-size: 2vw;}
}

@media only screen
and (max-device-width : 1024px)
and (min-device-width : 1600px) {
  #map { font-size: 2px; height:90%; width:100%}
  #mySidenav { font-size: 2vw;}
  #inputSection {font-size: 1vw;}
  #titletext {font-size: 2vw;}
}

@media only screen
and (max-width: 600px)
and (max-width: 800px) {
  #map { font-size: 2px; height:90%;}
  #mySidenav { font-size: 2vw;}
  #inputSection {font-size: 1.8vw;}
  #titletext {font-size: 5vw;}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)  {
  #map { font-size: 2px;width:100%; height:90%;}
  #mySidenav { font-size: 1vw;}
  #inputSection {font-size: 4.6vw;}
  #titletext {font-size: 5vw;}
}

@media only screen and (max-device-width: 420px) {
  #map { font-size: 2px; height:90%;}
  #mySidenav { font-size: 2vw;}
  #inputSection {font-size: 3.8vw;}
  #titletext {font-size: 5vw;}
}
#pano {
  width: 200px;
  height: 200px;
}
.nytimes-container {
    padding: 10px;

    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
      font-size: 1em;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
    font-size: 1vw;

}
/*.article:first-child {
    border-top:none;
}*/
