body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #1F2C40;
    color: #444;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    color: rgb(255, 255, 255);

}

#main {
    transition: margin-left .5s;
    padding: 16px;

}

/*for header*/
#titletext {
  text-align: center;
  color: #FFB6C1;
  margin-top: 0px;
  /*to keep the text aligned*/
  padding-left: 135px;

}

.toggle-button {
  color: black;
  float: left;
  position:absolute;
  top:0.3cm;
  left:0.05cm;
  color: #9932CC;
  background-color: rgb(255, 255, 255);

}

/*For Map*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

}

#map {
  bottom:0px;
  top:75px;
  height: 90%;
  left: 2px;
  position: absolute;
  right: 0px;
  overflow:hidden;

}

#pano {
  width: 200px;
  height: 200px;

}



.item-list {
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 40px;
  color: rgb(153, 153, 153);
  line-height: 45px;
  padding-left: 3px;
  font-size: 12px;
  font-weight: 10;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
  margin: 10px 0;
  text-align: auto;
  font-family: 'Pacifico', cursive;
  color: #E6BE8A;

}

.searchBar {
  text-align: center;
  border-radius: 40px;
  margin-left:5%;
  font-family: 'Pacifico', cursive;
  color: rgb(153, 153, 153);
  text-decoration-style: solid;
  color: black;

}

/*FOR Responsivness*/
@media only screen and (max-width: 600px) {
  #map { font-size: 2px;width:100%; height:90%;}
  #mySidenav { font-size: 1vw;}
  #inputSection {font-size: 2.8vw;}
  #titletext {font-size: 2vw;}

}

@media only screen
and (max-device-width : 1024px)
and (min-device-width : 1600px) {
  #map { font-size: 2px; height:90%; width:100%}
  #mySidenav { font-size: 2vw;}
  #inputSection {font-size: 1vw;}
  #titletext {font-size: 2vw;}

}

@media only screen
and (max-width: 600px)
and (max-width: 800px) {
  #map { font-size: 2px; height:90%;}
  #mySidenav { font-size: 2vw;}
  #inputSection {font-size: 1.8vw;}
  #titletext {font-size: 5vw;}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)  {
  #map { font-size: 2px;width:100%; height:90%;}
  #mySidenav { font-size: 1vw;}
  #inputSection {font-size: 4.6vw;}
  #titletext {font-size: 5vw;}

}

@media only screen and (max-device-width: 420px) {
  #map { font-size: 2px; height:90%;}
  #mySidenav { font-size: 2vw;}
  #inputSection {font-size: 3.8vw;}
  #titletext {font-size: 5vw;}

}
